<footer class="bg-gray-900 text-gray-400 w-screen pt-16 pb-6 md:pb-12 md:mt-24 mx-auto space-y-6">
    <div class="w-full grid grid-cols-1 md:grid-cols-3 mx-auto px-4 lg:max-w-7xl gap-y-6">
        <div>
            <h3 class="uppercase text-xl font-semibold text-white">
                Categories:
            </h3>
            <ul class="flex flex-col items-start font-semibold">
                {{ taxonomy:categories }}
                    <li><a href="/categories/{{ slug }}" class="text-base py-4 block uppercase text-gray-400 hover:text-gray-50 {{ segment_1 === 'categories' && segment_2 === slug ?= 'text-white' }}">{{title }} ({{ entries_count }})</a></li>
                {{/taxonomy:categories}}
            </ul>
        </div>
        <div class="flex flex-col md:justify-self-center">
            <h3 class="uppercase text-xl font-semibold text-white pl-2 pb-3">Tags:</h3>
            <ul class="flex flex-row flex-wrap gap-x-2 items-start font-semibold">
                {{ taxonomy:tags }}
                    <li><a href="/tags/{{ slug }}" class="text-sm p-2 block uppercase text-gray-400 hover:text-gray-50 hover:bg-brand-blue hover:rounded transition duration-150 {{ segment_1 === 'tag' && segment_2 === slug ?= 'text-white bg-brand-blue rounded' }}">{{title}}</a></li>
                {{/taxonomy:tags}}
            </ul>
        </div>
        <div class="flex flex-col md:justify-self-end w-full md:w-3/4">
            <form action="/search" class="w-full">
                <input type="search" name="q" placeholder="Search" autofocus
                    class="w-full outline-none px-2 h-8 rounded-none placeholder-gray-900 text-gray-900 font-semibold">
            </form>
        </div>
    </div>
    <div class="flex flex-row justify-between mx-auto px-4 lg:max-w-7xl border-t-2 border-gray-400 opacity-80 pt-8 text-sm">
        <p class="">© {{ now|format:Y }} KAT CODES</p>
        <a href="https://katwlodarczyk.com" target="_blank" class="hover:text-brand-blue">Made by Kat Wlodarczyk</a>
    </div>
</footer>