<nav class="bg-gray-900 text-white w-screen py-4 mx-auto">
    <div class="flex items-center justify-between mx-auto max-w-5xl">
        <div class="flex flex-1 justify-center items-center space-x-8">
            <ul class="flex items-center space-x-8 font-semibold">
                <li><a href="{{ homepage }}" class="text-base py-4 block uppercase text-gray-400 hover:text-gray-50 {{ is_current || is_parent ?= 'text-white' }}">
                    home</a></li>
                {{ taxonomy:categories }}
                    <li><a href="/categories/{{ slug }}" class="text-base py-4 block uppercase text-gray-400 hover:text-gray-50 {{ is_current || is_parent ?= 'text-white' }}">{{ title }}</a></li>
                {{/taxonomy:categories}}
            </ul>
            <ul class="flex items-center space-x-8 font-semibold">
                {{ nav:collection:pages include_home="false" }}
                <li><a href="{{ url }}"
                        class="text-base py-4 block uppercase text-gray-400 hover:text-gray-50 {{ is_current || is_parent ?= 'text-white' }}">{{
                        title
                        }}</a></li>
                {{ /nav:collection:pages }}
            </ul>
        </div>
    </div>
</nav>