<div class="max-w-2xl mx-auto">
    {{ collection:blog paginate="2" as="posts"}}
    <div class="flex flex-col my-16">
        {{ posts }}
        {{ partial:blog/card }}
        {{ /posts }}
    </div>
    {{ paginate }}
    <div class="relative flex items-center justify-between space-x-8 mx-auto my-8">
        {{ if next_page }}
            <a class="absolute left-0" href="{{next_page}}">← Previous</a>
        {{/if}}
        {{ if prev_page}}
            <a class="absolute right-0" href="{{prev_page}}">Next →</a>
        {{/if}}
    </div>
    {{ /paginate }}
    {{ /collection:blog }}
</div>

    