<a href="{{ url }}" class="w-full h-max border-gray-400 shadow hover:shadow-lg transition rounded">
    {{ if ! hide_image }}<img src="{{ featured_image }}" alt="{{ featured_image:alt}}" class="rounded-t">{{ /if }}
    <article class="p-4">
        <div class="flex items-center">
            <img src="{{ author:avatar}}" alt="" class="h-12 w-12 rounded-full">
            <div class="leading-tight ml-3">
                <p class="font-bold">{{author:name}}</p>
                <p class="text-sm text-gray-600">{{ date }}</p>
            </div>
        </div>
        <h2 class="text-2xl font-bold leading-tight mt-4">{{ title }}</h2>
    </article>
</a>